#section-header {
  border: 1px solid red;
  width: 100%;
}

#section-title {
  border: 1px solid blue;
  width: 100%;
}

#section-icons {
  border: 1px solid red;
  width: 100%;
}

#section-game {
  border: 1px solid blue;
  flex-grow: 1;
  margin: auto;
}
