#root {
  --tile-bg-color: rgb(239, 239, 230);
  --tile-color: rgb(18, 18, 18);

  --tile-bg-color-selected: rgb(90, 89, 78);
  --tile-color-selected: rgb(248, 248, 248);
}

#section-instructions {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

#section-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin: 24px 0px;
  max-width: 640px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Franklin;
  font-weight: 700;
  font-size: 16px;
  flex: 1 0 21%;
  background-color: var(--tile-bg-color);
  border-radius: 6px;
  color: var(--tile-color);
  aspect-ratio: 1;
  border: 0px;
  cursor: pointer;
}

.tile.selected {
  background-color: var(--tile-bg-color-selected);
  color: var(--tile-color-selected);
}

.tile.long-text {
  font-size: 11.5px;
}

@media (min-width: 640px) {
  .tile {
    aspect-ratio: 1.875;
    font-size: 20px;
  }
  .tile.long-text {
    font-size: 20px;
  }
}

#section-mistakes {
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#section-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.game-control {
  padding: 15px;
  background-color: var(--bg-color-light);
  border: 1px solid var(--text-color-primary-light);
  color: var(--text-color-primary-light);
  font-family: Franklin;
  font-size: 16px;
  font-weight: 600;
  border-radius: 32px;
  cursor: pointer;
}
